* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
}
img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a::selection {
    background-color: #000;
    color: #000;
}

.wrapper{
    background-color: #000;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    height: 70px;
    z-index: 2;
    color: #fff;
    font-family: sans-serif;
    transition:  1s;
}
.header_anim {
    transform: translate(0, -100px);
}
.konami_logo {
    padding-left: 4vw;
    width: 200px;
    height: 25px;
}
header > ul {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    margin-right: 4vw;
}
header > ul > li {
    text-shadow: #000;
    font-weight: bold;
    padding: 6px 10px;
}



main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main > ul {
    list-style: none;
    display: flex;
    width: 120vw;
    height: 100%;
    z-index: 1;
}
.bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(120vw / 6);
    height: 100vh;
    overflow: hidden;
    transition: .8s;
    transform: skewX(-20deg);
    filter: grayscale(100%);

}
.outofcursor {
    visibility: hidden;
}
.bg:hover {
    width: calc(120vw / 6  + 10vw);
    filter: none;
}
.bg div.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    transform: skewX(20deg);
}

.bg:nth-of-type(1) .img {
    background-image: url(/img/main_page/bg00.jpg);
}
.bg:nth-of-type(2) .img {
    background-image: url(/img/main_page/bg01.jpg);
}
.bg:nth-of-type(3) .img {
    background-image: url(/img/main_page/bg02.png);
}
.bg:nth-of-type(4) .img {
    background-image: url(/img/main_page/bg03.jpg);
}
.bg:nth-of-type(5) .img {
    background-image: url(/img/main_page/bg04.jpg);
}
.bg:nth-of-type(6) .img {
    background-image: url(/img/main_page/bg05.jpg);
}


.in_img {
    position: relative;
    width: calc(100vw / 6);
    height: auto;
}


.anim p {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 2vw;
    transform: translate(0,100px);
}
.img:hover p{
    transform: none;
    transition:  0.6s;
    opacity: 1;
}

